%%-*- mode: erlang -*-
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.
{plugins, [
    erlson_rebar_plugin
]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.0"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", {tag, "v2.3.2"}}},
    {dh_date, ".*", {git, "git://github.com/daleharvey/dh_date.git", {tag, "HEAD"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
    {plain_fsm, ".*", {git, "git://github.com/uwiger/plain_fsm.git", {tag, "HEAD"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.5.2"}}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", {tag, "v0.3.3"}}},
    {erlson, "", {git, "https://github.com/alavrik/erlson.git", {branch, "master"}}},

    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2-community"}}},
    {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-2.8.2-community"}}}
]}.

